.terminal-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 24px;
  background-color: #424040;
  padding: 0 8px;
  cursor: default;

  .nav-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  .nav-title {
    margin: 0 auto;
    font-size: 14px;
    a {
      text-decoration: none;
      color: $grey;
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
