@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");

@import "./global/colors";
@import "./components/terminal";
@import "./components/terminal-input";
@import "./components/nav";
@import "./components/nav-button";

:root {
  font-family: "Fira Code", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: $white;
  background-color: $app-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

a {
  color: $white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;

  background-color: #555;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  background-color: rgb(129, 129, 129);
}
