$app-bg: #393a59;
$terminal-bg: #282a35;

$white: #eeeeee;
$grey: #9c9c9c;

$terminal-yellow: #f7fca0;
$terminal-purple: #6a77d2;
$terminal-blue: #9ceaf3;
$terminal-green: #5ad786;
$terminal-red: #f78f85;

$shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
